.bookItem {
    display: flex;
    flex-direction: row;
    justify-content: last baseline;
    background-color: #eee;
    margin: 1rem;
}

.bookCover {
    background-color: gainsboro;
    width: 100px;
    height: 100%;
    aspect-ratio: 0.7;
    margin-right: 1rem;
}